<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<root>
<data1>
<dataType>2</dataType>
<videoBtnXY>538_2121</videoBtnXY>
<adSlide>250_250_250_-10</adSlide>
<actBtnXY>919_1592</actBtnXY>
<actBtnXY2>927_1500</actBtnXY2>
<taskBtnXY>517_2013</taskBtnXY>
<adBtnXY>845_1730</adBtnXY>
<adNum>20</adNum>
</data1>
</root>
